<%- include('partials/header') %>


<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
<a class="navbar-brand" href="#">Todo App</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
    </li>
    </ul>
</div>
</nav>

<div style="margin-top: 10%;" class="container">
    <h1>Todos:</h1>
    <hr>
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <form action="/lists" method="POST">
                        <input class="form-control" type="text" placeholder="Enter a todo" name="todoItem">
                        <input type="submit" value="Submit">
                    </form>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <% for(let i = 0; i < todo.length; i++) { %>
                        <li class="list-group-item">
                            <%= todo[i].todo %>
                            <i style="float: right;" class="fas fa-trash-alt"></i></span>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('partials/footer') %>